@mixin absolute-timer($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(var(--boardSize) / 17);
  flex-grow: 1;

  @media only screen and (max-width: 1112px) {
    margin-top: 0;
  }

  h2 {
    background: -webkit-linear-gradient(#ffecd2, #fcb69f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.timers {
  display: flex;
  flex-wrap: wrap;

  @media only screen and (max-width: 1200px) {
    max-width: 100%;
  }
}

.timer_1 {
  @include absolute-timer(calc((var(--boardSize) / 17) * 1.5), calc((var(--boardSize) / 17) * 13));
}

.timer_2 {
  @include absolute-timer(calc((var(--boardSize) / 17) * 1.5), calc((var(--boardSize) / 17) * 2.5));
}

.timer_3 {
  @include absolute-timer(calc((var(--boardSize) / 17) * 12.5), calc((var(--boardSize) / 17) * 2.5));
}

.timer_4 {
  @include absolute-timer(calc((var(--boardSize) / 17) * 12.5), calc((var(--boardSize) / 17) * 13));
}