.timerInfo {
  font-size: 20px;
  padding: 0 24px 24px 24px;
  @media only screen and (max-width: 1000px) {
    font-size: 15px;
  }
  @media only screen and (max-width: 560px) {
    font-size: 10px;
  }
   h2 {
     margin: 0;
   }
}

.activeTimer {
  h2 {
    background: -webkit-linear-gradient(#0ff, #0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.inActiveTimer {
  h2 {
    background: -webkit-linear-gradient(#ddfcfb, #e2d1c3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}