.orange {
  filter: var(--orangeImageFilter);
}

.white {
  filter: var(--whiteImageFilter);
}

.black {
  filter: var(--blackImageFilter);
}

.yellow {
  filter: var(--yellowImageFilter);
}

.selected {
  border: none;
  box-shadow: 0 0 8px 8px #0ff, 0 0 4px 4px #0ff;
  z-index: 4;
}