@import "../../mixins";

.backdrop {
  @include backdrop();
}

.orange {
  filter: var(--orangeImageFilter);
}

.white {
  filter: var(--whiteImageFilter);
}

.black {
  filter: var(--blackImageFilter);
}

.yellow {
  filter: var(--yellowImageFilter);
}