@import "../../mixins";

.backdrop {
  @include backdrop();
  background-image: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.orange {
  filter: var(--orangeImageFilter);
}

.white {
  filter: var(--whiteImageFilter);
}

.black {
  filter: var(--blackImageFilter);
}

.yellow {
  filter: var(--yellowImageFilter);
}