@import '../mixins';

.boardCell {
  width: calc(var(--boardSize) / 17);
  height: calc(var(--boardSize) / 17);
  position: relative;
  background-color: transparent;
  border: none;

  &.white {
    background-color: white;
  }

  &.black {
    background-color: black;
  }

  &.leftBottomThrone {
    background-image: -webkit-linear-gradient(45deg, white 50%, rgba(0, 0, 0, 0.0) 50%);
  }

  &.rightBottomThrone {
    background-image: -webkit-linear-gradient(135deg, white 50%, rgba(0, 0, 0, 0.0) 50%);
  }

  &.leftTopThrone {
    background-image: -webkit-linear-gradient(315deg, white 50%, rgba(0, 0, 0, 0.0) 50%);
  }

  &.rightTopThrone {
    background-image: -webkit-linear-gradient(225deg, white 50%, rgba(0, 0, 0, 0.0) 50%);
  }

  &.activatedPieceOrangeCell {
    @include activated-piece-cell(var(--orangePiece));
  }

  &.activatedPieceYellowCell {
    @include activated-piece-cell(var(--yellowPiece));
  }

  &.activatedPieceWhiteCell {
    @include activated-piece-cell(var(--whitePiece));
  }

  &.activatedPieceBlackCell {
    @include activated-piece-cell(var(--blackPiece));
  }

  &.activatedPosOrangeCell {
    @include activated-pos-cell(var(--orangePiece));
  }

  &.activatedPosYellowCell {
    @include activated-pos-cell(var(--yellowPiece));
  }

  &.activatedPosWhiteCell {
    @include activated-pos-cell(var(--whitePiece));
  }

  &.activatedPosBlackCell {
    @include activated-pos-cell(var(--blackPiece));
  }

  &.activePieces {
    box-shadow: 0 0 3px 3px #0ff, 0 0 3px 3px #0ff;
    z-index: 2;

    @media only screen and (max-width: 524px) {
      box-shadow: 0 0 2px 2px #0ff;
    }
  }
}