@mixin activated-cell($color) {
  box-shadow: 0 0 3px 3px $color, 0 0 3px 3px $color;
  z-index: 1;

  @media only screen and (max-width: 524px) {
    box-shadow: 0 0 2px 2px $color, 0 0 2px 2px $color;
  }
}

.boardCell {
  width: calc(var(--boardSize) / 17);
  height: calc(var(--boardSize) / 17);
  font-size:50px;
  position: relative;
  background-color: transparent;
  border: none;

  @media only screen and (max-width: 764px) {
    font-size:40px;
  }

  @media only screen and (max-width: 524px) {
    font-size:20px;
  }

  &.white {
    background-color: white;
  }

  &.black {
    background-color: black;
  }

  &.leftBottomThrone {
    background-image: -webkit-linear-gradient(45deg, white 50%, rgba(0, 0, 0, 0.0) 50%);
  }

  &.rightBottomThrone {
    background-image: -webkit-linear-gradient(135deg, white 50%, rgba(0, 0, 0, 0.0) 50%);
  }

  &.leftTopThrone {
    background-image: -webkit-linear-gradient(315deg, white 50%, rgba(0, 0, 0, 0.0) 50%);
  }

  &.rightTopThrone {
    background-image: -webkit-linear-gradient(225deg, white 50%, rgba(0, 0, 0, 0.0) 50%);
  }

  &.activatedOrangeCells {
    @include activated-cell(var(--orangePiece));
  }

  &.activatedYellowCells {
    @include activated-cell(var(--yellowPiece));
  }

  &.activatedWhiteCells {
    @include activated-cell(var(--whitePiece));
  }

  &.activatedBlackCells {
    @include activated-cell(var(--blackPiece));
  }

  &.activePieces {
    box-shadow: 0 0 3px 3px #0ff, 0 0 3px 3px #0ff;
    z-index: 1;

    @media only screen and (max-width: 524px) {
      box-shadow: 0 0 2px 2px #0ff;
    }
  }
}