.boardCell {
  width: calc(var(--boardSize) / 17);
  height: calc(var(--boardSize) / 17);
  font-size:50px;
  position: relative;
  background-color: transparent;
  border: none;

  //@media only screen and (max-width: 764px) {
  //  font-size:40px;
  //}
  //
  //@media only screen and (max-width: 524px) {
  //  font-size:30px;
  //}

  .pieceIcon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.orangePiece {
      color: #FF7518;
    }

    &.yellowPiece {
      color: #FFBF00;
    }

    &.blackPiece {
      color: #800020;
    }

    &.whitePiece {
      color: #e3be9b;
    }

    .fasIcon {
      font-size:30px;
      padding-top: 6px;

      //@media only screen and (max-width: 764px) {
      //  font-size:20px;
      //}
      //
      //@media only screen and (max-width: 524px) {
      //  font-size:15px;
      //}
    }
  }

  &.white {
    background-color: white;
  }

  &.black {
    background-color: black;
  }
}