.pieceIcon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: calc(var(--boardSize) / 24);
    height: calc(var(--boardSize) / 24);
  }

  &.orangePiece {
    filter: var(--orangeImageFilter);
  }

  &.yellowPiece {
    filter:  var(--yellowImageFilter);
  }

  &.blackPiece {
    filter:  var(--blackImageFilter);
  }

  &.whitePiece {
    filter:  var(--whiteImageFilter);
  }
}