.gameContainer {
  background-image: url('../assets/images/background_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  position: relative;
  min-height: 100vh;

  @media only screen and (max-width: 1112px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
