.board {
  width: var(--boardSize);
  height: var(--boardSize);
  background-image: url('../assets/images/background_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
}