@mixin cell_gradient($color) {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: $color;
  opacity: 0.5;
}

.orangeGradient {
  @include cell_gradient(var(--orangeGradient));
}

.yellowGradient {
  @include cell_gradient(var(--yellowGradient));
}

.blackGradient {
  @include cell_gradient(var(--blackGradient));
}

.whiteGradient {
  @include cell_gradient(var(--whiteGradient));
}

.darkYellowGradient {
  background-color: var(--yellowGradient);
  opacity: 0.6;
}

.darkOrangeGradient {
  background-color: var(--orangeGradient);
  opacity: 0.6;
}

.darkWhiteGradient {
  background-color: var(--whiteGradient);
  opacity: 0.6;
}

.darkBlackGradient {
  background-color: var(--blackGradient);
  opacity: 0.6;
}

.leftYellowThroneSide {
  background-color: transparent;
  background-image: -webkit-linear-gradient(45deg, var(--yellowGradient) 50%, rgba(0, 0, 0, 0.0) 50%);
}

.rightYellowThroneSide {
  background-color: transparent;
  background-image: -webkit-linear-gradient(135deg, var(--yellowGradient) 50%, rgba(0, 0, 0, 0.0) 50%);
}

.leftOrangeThroneSide {
  background-color: transparent;
  background-image: -webkit-linear-gradient(225deg, var(--orangeGradient) 50%, rgba(0, 0, 0, 0.0) 50%);
}

.rightOrangeThroneSide {
  background-color: transparent;
  background-image: -webkit-linear-gradient(315deg, var(--orangeGradient) 50%, rgba(0, 0, 0, 0.0) 50%);
}

.leftBlackThroneSide {
  background-color: transparent;
  background-image: -webkit-linear-gradient(315deg, var(--blackGradient) 50%, rgba(0, 0, 0, 0.0) 50%);
}

.rightBlackThroneSide {
  background-color: transparent;
  background-image: -webkit-linear-gradient(45deg, var(--blackGradient) 50%, rgba(0, 0, 0, 0.0) 50%);
}

.leftWhiteThroneSide {
  background-color: transparent;
  background-image: -webkit-linear-gradient(135deg, var(--whiteGradient) 50%, rgba(0, 0, 0, 0.0) 50%);
}

.rightWhiteThroneSide {
  background-color: transparent;
  background-image: -webkit-linear-gradient(225deg, var(--whiteGradient) 50%, rgba(0, 0, 0, 0.0) 50%);
}